<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <!--BOTON CREAR CLIENTE-->
    <div class="my-2 text-left">
      <!--directiva routerLink con ruta absoluta-->
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/form']"
      >
        Crear cliente
      </button>
    </div>

    <!--Cuando no hay registros de clientes muestra mensaje de no hay registros-->
    <div *ngIf="clientes!.length == 0" class="alert alert-info">
      No hay registrons en la BD!
    </div>
    
    <!--Cuando existan registros en la BD muestra la tabla
    usamos el signo '!' para indicar que la variable puede ser nula o indefinida-->
    <table
      class="table table bordered table-striped"
      *ngIf="clientes!.length > 0"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase}}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
          <!--Creamos nuestro boton EDITAR, el url tendra dos argumentos
          la ruta y el id-->
          <td>
            <button
              type="button"
              name="editar"
              [routerLink]="['/clientes/form', cliente.id]"
              class="btn btn-primary btn-sm"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="eliminar"
              (click)="delete(cliente)"
              class="btn btn-danger btn-sm"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
