<div class="card bg-dark text-white" > 
  <div class="card-header">{{ titulo }}</div>

  <div class="card-body">
    <!--variable global con objeto ngForm para saver si el formulario es valido
    es decir no debe tener ningun error para guardar-->
    <form>
      <!--NOMBRE-->
      <div class="form-group row">
        <!--que ocupe 2 columnas de las 12 disponibles en bootstrap-->
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <!--ngModel directiva que va a poblar con los datos del formulario al objeto/
          atributo cliente de la clase form.component.ts. Realiza un "Binding =Poblar/Enlazar"
          2° creamos variable nombre para signar el objeto ngModel que contiene los mensajes de error-->
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.nombre"
            name="nombre"
          />
        </div>
      </div>

      <!--APELLIDO-->
      <br />
      <div class="form-group row">
        <!--que ocupe 2 columnas de las 12 disponibles en bootstrap-->
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.apellido"
            name="apellido"
            #apellido="ngModel"
          />
        </div>
      </div>

      <!--EMAIL-->
      <br />
      <div class="form-group row">
        <!--que ocupe 2 columnas de las 12 disponibles en bootstrap-->
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <!--validamos que sea requerido y que tenga el formato correcto con 'email'-->
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.email"
            name="email"
          />
        </div>
      </div>
      <br />
      <!--BOTON CREAR-->
      <div class="form-group row">
        <div class="col-sm-6">
          <!--directica click invoca el metodo create, evaluamos si no existe el cliente id, muestra boton crear
          caso contrario va al template 'elseBlock' y muestra boton editar
        2° disabled inactiva el boton si el formulario tiene errores-->
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!cliente.id; else elseBlock"
          >
            Crear
          </button>
          <!--Boton editar, si tiene errores el formulario desactiva el boton-->
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
      <br />
      <!--Creamos un contenedor para mostrar los mensajes de error hasta arriba
'errores' es el atributo de from.c.ts , validamos que exista al menos un error
para mostrar el contenedor-->
      <ul class="alert alert-danger" *ngIf="errores.length > 0">
        <li *ngFor="let itErr of errores">
          {{ itErr }}
        </li>
      </ul>
    </form>
  </div>
</div>
